#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #000000;
}
#content4-g P {
  text-align: left;
}
#header1-l P {
  font-size: 14px;
}
#header1-l B {
  font-size: 16px;
}
#contacts1-v STRONG {
  color: #000000;
}
#contacts1-v P {
  color: #000000;
}
#dropdown-menu-2btn-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-n .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-2btn-n .nav .link,
#dropdown-menu-2btn-n .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-n .navbar,
#dropdown-menu-2btn-n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-n .dropdown-menu a:hover,
#dropdown-menu-2btn-n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-n .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-o .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-2btn-o .nav .link,
#dropdown-menu-2btn-o .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-o .navbar,
#dropdown-menu-2btn-o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-o .dropdown-menu a:hover,
#dropdown-menu-2btn-o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-o .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-p .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-2btn-p .nav .link,
#dropdown-menu-2btn-p .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-p .navbar,
#dropdown-menu-2btn-p .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-p .dropdown-menu a:hover,
#dropdown-menu-2btn-p .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-p .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-q .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-2btn-q .nav .link,
#dropdown-menu-2btn-q .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-q .navbar,
#dropdown-menu-2btn-q .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-q .dropdown-menu a:hover,
#dropdown-menu-2btn-q .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-q .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-r .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-2btn-r .nav .link,
#dropdown-menu-2btn-r .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-r .navbar,
#dropdown-menu-2btn-r .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-r .dropdown-menu a:hover,
#dropdown-menu-2btn-r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-r .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-s .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-2btn-s .nav .link,
#dropdown-menu-2btn-s .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-s .navbar,
#dropdown-menu-2btn-s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-s .dropdown-menu a:hover,
#dropdown-menu-2btn-s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-s .navbar-toggler {
  color: #000000;
}
